@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family:'Instrument Serif', sans-serif ;
}
a {
    text-decoration:none ;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Hero Section */
#hero{
background-image:url(./img/CamScanner\ 12-29-2022\ 10.29_1.jpg) ;
background-size:cover ;
background-position:top center ;
position: relative;
z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero .hero{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;

}
#hero h1:nth-child(1){
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 2s;
}
#hero h1:nth-child(3){
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: teal;
    animation: text_reveal_box 1s ease;
    animation-delay: .5s;
}

#hero h1:nth-child(1) span{
    animation-delay: .5s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2.5s;
}

#hero .cta{
    display: inline-block;
    padding:10px 30px;
    color: teal;
    background-color: transparent;
    border:2px solid teal;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    margin-top: 36px;
    transition: .3s ease background-color;
    transition-property: background-color, color;
}
#hero .cta:hover {
    color: white;
    background-color: teal;


}

/* End Hero Section */

/* KeyFrames */
@keyframes text_reveal_box{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal{
    100%{
        color:white;
    }
}
@keyframes text_reveal_name{
    100%{
        color:teal;
        font-weight: 500px;
    }
}
/*End KeyFrames*/



/*Gallery*/
.gallery-title {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    color: teal;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;

}
.gallery-title span {
    color: black;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

  
 /*End Gallery*/

 /*About Me*/
 .about-me h1 {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}
.about-me span {
    color: teal;

}
.about-me p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    letter-spacing: .2rem;
    padding-bottom: 10px;
    margin-top: 10px;

}




/*End About Me*/

/*Contact Section*/
.contact-info {
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}
.contact-info span {
    color: teal;

}
#contact .contact-items {
    width: 100%;
}
#contact .contact-item {
    font-size: 1rem;
   
}

/*End Contact Section*/




 .top-botton {
    color: black;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
    color: black;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;

}

/*footer Section*/
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;

}
/*End footer Section*/

